<div class="col-sm-2 col-md-1 col-xs-3">
  <%=image_tag staff.photo, class: "img-circle" %>
</div>
<div class="col-sm-8 col-md-9 col-xs-7" style="padding-left:0;">
  <p class="name"><%=staff.name%></p>
  <p class="scope"><%=staff.scope%></p>
</div>
<div class="col-sm-2 col-md-2 col-xs-2">
  <a href="tel:<%=staff.tel%>" class="control"><span class="glyphicon glyphicon-earphone"></span></a>
</div>
