@import "variable.scss";
.list-group {
    margin-bottom: 8px;
    button.list-group-item {
        border: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        text-align: left;
        width: 100%;
    }
}