// Variable define
@import "variable.scss";

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    background-color: $bg-color;
    color: $font-color;
    font-size: 14px;
    font-family: 'Roboto Regular', Arial, sans-serif;
}

header {
    background: $theme-color;
    box-shadow: $shadow;
    z-index: 100;
    position: relative;
}

footer {
    color: #aaa;
    text-align: center;
    font-size: 12px;
    margin-bottom: 60px;
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        li {
            padding-right: 20px;
            display: inline-block;
        }
    }
}

h2 {
    margin: 20px 0;
    color: #444;
    font-size: 24px;
    font-family: 'Roboto Light', Arial, sans-serif;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: $font-color;
}

img {
    width: 100%;
    background-color: transparent;
}

.pager {
    a {
        color: #337AB7;
    }
}

table {
    a {
        color: #337AB7;
    }
}

a.navbar-brand {
    color: #fff !important;
}

.auth-cover {
    background: image-url("auth-cover.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 320px;
}

.auth-container {
    margin-top: 50px;
}

#sketch-carousel img {
    max-height: 160px !important;
    margin: 0 auto;
    width: 100%;
    background:#f7f9eb;
}

.home-nav {
    img {
        height: 200px;
    }
    h3 {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 25px;
        color: #fff;
        letter-spacing: 8px;
    }
}

div.simple_captcha {
    border: none !important;
    padding: 0 !important;
    width: 100%;
    .simple_captcha_label, .simple_captcha_refresh_button {
        visibility: hidden;
        font-size: 0;
    }
    .simple_captcha_image {
        float: right;
        cursor: pointer;
    }
    .simple_captcha_field {
        border: none;
        input[type="text"] {
            display: block;
            width: 100% !important;
            height: 33px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            &:focus {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }
    }
}

.article {
    font-size: 1.1em;
    line-height: 2em;
}

.btn, button {
    outline: none !important;
}

.home-nav.list section {
    height: 74px;
    background-color: #fff;
    padding: 8px 0;
    border: 1px solid #eeeef0;
    a {
        display: block;
        overflow: hidden;
    }
    img {
        width: 58px;
        height: 58px;
    }
    h3 {
        position: relative;
        top: 0;
        right: 0;
        letter-spacing: normal;
        margin-top: 15px;
    }
    .strip {
        width: 6px;
        height: 58px;
    }
    .glyphicon {
        font-size: 25px;
        margin-top: 14px;
    }
}

.footer-nav {
    background: #fff;
    opacity: .9;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding: 16px 0;
    font-size: 20px;
    text-align: center;
}

.navbar-brand {
    text-align: center;
}
.navbar-header {
    a {
        font-size: 22px;
    }
    span {
        font-size: 20px;
    }
}

ul.list {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    li {
        overflow: hidden;
        display: block;
        height: 82px;
        border: 1px solid $bg-color;
        background-color: #fff;
        padding: 12px 0;
        a {
            display: block;
            overflow: hidden;
        }
        img {
            width: 58px;
            height: 58px;
        }
        .control {
            font-size:24px;
            height:58px;
            padding-top:12px;
            color: $theme-color;
        }
        p {
            margin: 0;
        }
        .name {
            color: #555;
            font-weight: bold;
            font-size: 16px;
        }
        .scope {
            color: #777;
            font-size: 12px;
        }
    }
}

.list.complain-list {
    li {
        padding: 12px;
        height: auto;
    }
    .content {
        color: #333;
    }
    small {
        font-size: .8em;
        color: #555;
    }
    p {
        margin: 0;
    }
}
.cart-number {
    background-color: $theme-color;
    font-size: 12px;
    color: #fff;
    margin-left: -8px;
    padding: 2px;
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}