// Variable define
@import "variable.scss";

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    background-color: $bg-color;
    color: $font-color;
    font-size: 14px;
    font-family: 'Roboto Regular', Arial, sans-serif;
}

header {
    background: $theme-color;
    box-shadow: $shadow;
    z-index: 100;
    position: relative;
}

footer {
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 12px;
    .copyright {
        opacity: .5;
    }
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    ul {
        margin: 0 auto;
        opacity: .8;
        padding: 0;
        list-style: none;
        li {
            padding-right: 20px;
            display: inline-block;
        }
    }
}

h2 {
    margin: 20px 0;
    color: #444;
    font-size: 30px;
    font-family: 'Roboto Light', Arial, sans-serif;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: $font-color;
}

img {
    width: 100%;
    background-color: transparent;
}

.pager {
    a {
        color: #337AB7;
    }
}

table {
    a {
        color: #337AB7;
    }
}

a.navbar-brand {
    color: #fff !important;
}

.auth-cover {
    background: image-url("auth-cover.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 320px;
}

.auth-container {
    margin-top: 50px;
}

#sketch-carousel img {
    max-height: 160px !important;
    margin: 0 auto;
    width: 100%;
    background:#f7f9eb;
}


div.simple_captcha {
    border: none !important;
    padding: 0 !important;
    width: 100%;
    .simple_captcha_label, .simple_captcha_refresh_button {
        visibility: hidden;
        font-size: 0;
    }
    .simple_captcha_image {
        float: right;
        cursor: pointer;
    }
    .simple_captcha_field {
        border: none;
        input[type="text"] {
            display: block;
            width: 100% !important;
            height: 33px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            &:focus {
                border-color: #66afe9;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }
    }
}

.article {
    font-size: 1.1em;
    line-height: 2em;
}

.btn, button {
    outline: none !important;
}

.cart-number {
    background-color: $accent-color;
    height: 20px;
    width: 20px;
    font-size: 13px;
    margin-left: -6px;
    padding: 2px 3px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

.coupon {
    margin: 0 0 16px 0;
    box-shadow: 0px 2px 4px #bbb;
    width: 100%;
    background: #FFF;
    padding: 10px 20px;
    color: #888;
    @media (max-width: 768px){
        margin: 0 0 1px 0;
    }
    div {
        margin: 8px 0;
    }
    .header {
        overflow:hidden;
        margin: 0;
    }
    .title {
        margin: 8px;
    }
    .amount {
        color: #090;
        font-weight: bold;
        font-size: 24px;
        small {
            padding-right: 8px;
            font-size: 12px;
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header-action {
    height: 56px;
    padding: 0 8px;
}
.header-action-dark {
    .glyphicon {
        color: #555 !important;
    }
}
.header-title {
    height: 56px;
    h1 {
        padding: 16px 0 0 72px;
        color: #fff;
        font-size: 32px;
        margin: 0;
        display: block;
    }
}
.header-description {
    height: 56px;
    padding: 12px 16px 0 72px;
    color: #fff;
    address {
        font-size: 14px;
        padding-bottom: 4px;
        border-bottom: 1px solid $accent-color;
    }
}

.fab {
    z-index: 999999;
    position: fixed;
    bottom: 24px;
    right: 24px;
    background: $accent-color;
    box-shadow: $shadow;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    display: table;
    i, label {
        display: table-cell;
        font-size: 22px;
        color: #666 !important;
        vertical-align: middle;
    }
}
.home-fab {
    position: absolute;
    top: 84px;
    left: 12px;
}