// Variable define
@import "variable.scss";

.navbar {
    border: 0;
    background: $theme-color;
    margin: 0;
    a, i {
        color: #fff;
    }
}

.navbar-header {
    width: 100%;
    position: relative;
}

.navbar-brand {
    font-weight: bold;
    a {
        color: #fff;
    }
    margin-left: 0 !important;
}

// Settings
.navbar-side {
    -webkit-transition: left .3s, -webkit-transform .3s;
    transition: left .3s, transform .3s;
    width: 90%;
    max-width: 300px;
    box-shadow: $shadow;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    min-height: 100%;
    font-size: 16px;
    header {
        background-color: $theme-color;
        box-shadow: none;
        height: 70px;
        a, i {
            color: #fff;
            padding: 0 10px;
        }
        i {
            color: #fff;
        }
        .nav-header-link-text {
            // Centralize the image
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }
        img {
            height: 32px;
            width: 32px;
        }
    }
    li {
        float: initial;
        a {
            padding: 12px 40px;
            color: $font-color;
        }
    }
    .nav-section {
        border-top: 1px solid #f1f1f1;
        font-size: 14px;
        .title {
            padding:12px 40px 0 18px;
            font-weight: bold;
            color: #aaa;
        }
    }
}

// navbar for header
.header-navbar {
    ul, li {
        float: left;
    }
}


.search-container {
    -webkit-transition: width .3s, -webkit-transform .3s;
    transition: width .3s, transform .3s;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    max-width: 800px;
    background-color: #F8F8F8;
    .btn {
        position: absolute;
    }
    a, i {
        color: $theme-color;
    }
    .search {
        border: 0;
        font-size: 16px;
        width: inherit;
        display: inline-block !important;
        width: 100%;
        padding-left: 40px;
        padding-right: 50px;
        background-color: #F8F8F8;
        &:focus {
            outline: none;
            border: 0;
        }
    }
}

.block-layer {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 999;
    background-color: #000;
    opacity: .2;
}

.block-layer.block-layer-light {
    background: #fff;
    opacity: .3;
}

.home-nav {
    margin-top: 3px;
    section {
        border: 1px solid #fff;
        height:200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $accent-color;
        @media(max-width:768px) {
            border-left: 0;
            border-right: 0;
        }
    }
    #order {
        background-image:image_url("catering.png");
    }
    #takeout {
        background-image:image_url("takeout.png");
    }
    img {
        height: 200px;
    }
    a {
        display:block;
        height: inherit;
    }
    h3 {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 25px;
        color: #fff;
        letter-spacing: 8px;
    }
}
