// Variable define
@import "variable.scss";

.navbar {
    border: 0;
    background: $theme-color;
    margin: 0;
    a {
        color: #fff;
    }
    i {
        color: #555;
    }
}

.navbar-header {
    width: 100%;
    position: relative;
    float: none !important;
}

.navbar-brand {
    font-weight: bold;
    padding: 18px 15px;
    margin-left: 0 !important;
    a {
        color: #fff;
    }
}

.scroll-container {
    position: relative;
    height: inherit;
    overflow: scroll;
    width: 100%;
    &::-webkit-scrollbar {
        display: none;
        height: 0 !important;
    }
    ul {
        position: absolute;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        overflow: hidden;
        bottom: 0;
        white-space: nowrap;
    }
    li {
        display: inline-block;
    }
    a {
        color: #eee;
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        &:visited {
            color: #eee;
        }
        &:focus {
            text-decoration: none;
        }
    }
    .active {
        border-left: 0;
        color: $accent-color;
        border-bottom: 2px solid $accent-color;
        a {
            color: $accent-color;
        }
    }
}
.scroll-indicator {
    position: absolute;
    top: 0;
    height: 36px;
    color: #f1f1f1;
    display: table;
    z-index: 999;
    width: 32px;
    text-align: center;
    visibility: hidden;
    i {
        font-size: 10px;
        display: table-cell;
        vertical-align: middle;
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
}
.nav-bottom {
    position: relative;
    height: 40px;
    padding: 0 32px;
    h2 {
        margin: 0;
        font-size: 1em;
    }
}

// Settings
.navbar-side {
    -webkit-transition: left .3s, -webkit-transform .3s;
    transition: left .3s, transform .3s;
    width: 90%;
    max-width: 300px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: $shadow;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    font-size: 16px;
    header {
        background-color: $theme-color;
        box-shadow: none;
        height: 70px;
        a, i {
            color: #fff;
            padding: 0 10px;
        }
        i {
            color: #fff;
        }
        .nav-header-link-text {
            // Centralize the image
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }
        img {
            height: 32px;
            width: 32px;
        }
    }
    li {
        float: initial;
        a {
            padding: 12px 16px;
            color: $font-color;
        }
    }
    .nav-section {
        border-top: 1px solid #f1f1f1;
        font-size: 14px;
        margin-bottom: 50px;
        .title {
            padding:12px 40px 0 40px;
        }
    }
}

// navbar for header
.header-navbar {
    ul, li {
        float: left;
    }
}


.search-container {
    -webkit-transition: width .3s, -webkit-transform .3s;
    transition: width .3s, transform .3s;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    max-width: 800px;
    background-color: #F8F8F8;
    z-index: 999;
    .btn {
        position: absolute;
    }
    a, i {
        color: $theme-color;
    }
    .search {
        border: 0;
        font-size: 16px;
        width: inherit;
        display: inline-block !important;
        width: 100%;
        padding-left: 40px;
        padding-right: 50px;
        background-color: #F8F8F8;
        &:focus {
            outline: none;
            border: 0;
        }
    }
}

.block-layer {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 999;
    background-color: #000;
    opacity: .2;
}

.block-layer.block-layer-light {
    background: #fff;
    opacity: .3;
}

.channel-card {
    color: #555;
    height: 180px;
    display: block;
    margin: 0 -15px;
    overflow: hidden;
    img {
        height: 180px;
        width: auto;
    }
    h3 {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 22px;
        letter-spacing: 8px;
    }
}
