@import "variable.scss";

@media(max-width:768px) {
    .order-filter-container {
        background: #fff;
        margin-bottom: 12px;
    }
    .order-main {
        padding: 0 !important;
    }
 }

.order-detail {
    width: 100%;
    max-width: 600px;
    background: #fff;
    box-shadow: $shadow;
    margin: 0 auto;
    padding: 20px;
    section {
        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
        overflow: hidden;
        padding: 10px;
        h3 {
            margin-top: 0;
            font-size: 13px;
            color: #aaa;
        }
    }
}

.order-total {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    label {
        width: 90px;
        display: inline-block;
    }
    span {
        width: 120px;
        display:inline-block;
        text-align:right;
    }
    .amount {
        font-weight: bold;
        color: $theme-color-dark;
    }
}

.coupon.selectable {
    height: 80px;
    padding: 0 8px;
    font-size: 12px;
    box-shadow: none;
    div {
        margin: 2px 0;
    }
}

.selected-coupon {
    .title {
        font-weight: bold;
    }
    .amount {
        color: #090;
        font-weight: bold;
        font-size: 24px;
        margin-top: -8px;
        small {
            padding-right: 8px;
            font-size: 18px;
        }
    }
}

.use-account-balance {
    .glyphicon-ok-sign {
        padding-right: 8px;
        position: relative;
        top: 2px;
    }
    &.active {
        .glyphicon-ok-sign {
            color: #090;
        }
    }
}

.payment-type.selectable {
    font-size: 20px;
    font-style: italic;
    padding: 0;
    margin: 8px 0;
    border: 2px solid #eee;
    @media(max-width:768px) {
        font-size: 18px;
        height: 52px;
    }
    i {
        float: right;
        padding: 14px 20px;
        color: #eee;
    }
    img {
        display: inline-block;
        width: 48px;
        margin-right: 12px;
    }
}
.payment-type.selected {
    color: $theme-color-dark;
    i {
        color:#090;
    }
}

.order-list {
    a {
        display: inline-block;
        width: 100%;
    }
    li {
        display: inline-block;
        padding: 0px 16px 8px 16px;
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .glyphicon {
        color: $link-color;
    }
    h3 {
        font-size: 16px;
    }
    span {
        font-size: 12px;
        color: #999;
    }
}