@import "variable.scss";

@media(max-width:768px) {
    .order-filter-container {
        background: #fff;
        margin-bottom: 12px;
    }
    .order-main {
        padding: 0 !important;
    }
 }

.order-detail {
    width: 100%;
    max-width: 600px;
    background: #fff;
    box-shadow: $shadow;
    margin: 0 auto;
    padding: 20px;
    section {
        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
        overflow: hidden;
        padding: 10px;
        h3 {
            margin-top: 0;
            font-size: 13px;
            color: #aaa;
        }
    }
}

.order-total {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    label {
        width: 90px;
        display: inline-block;
    }
    span {
        width: 120px;
        display:inline-block;
        text-align:right;
    }
    .amount {
        font-weight: bold;
        color: $theme-color-dark;
    }
}

.coupon.selectable {
    height: 80px;
    padding: 0 8px;
    font-size: 12px;
    box-shadow: none;
    div {
        margin: 2px 0;
    }
}

.selected-coupon {
    .title {
        font-weight: bold;
    }
    .amount {
        color: #090;
        font-weight: bold;
        font-size: 24px;
        margin-top: -8px;
        small {
            padding-right: 8px;
            font-size: 18px;
        }
    }
}

.use-account-balance {
    .glyphicon-ok-sign {
        padding-right: 8px;
        position: relative;
        top: 2px;
    }
    &.active {
        .glyphicon-ok-sign {
            color: #090;
        }
    }
}

.payment-type.selectable {
    font-size: 20px;
    font-style: italic;
    padding: 0;
    margin: 8px 0;
    border: 2px solid #eee;
    @media(max-width:768px) {
        font-size: 18px;
        height: 52px;
    }
    i {
        float: right;
        padding: 14px 20px;
        color: #eee;
    }
    img {
        display: inline-block;
        width: 48px;
        margin-right: 12px;
    }
}
.payment-type.selected {
    color: $theme-color-dark;
    i {
        color:#090;
    }
}

.order-list {
    a {
        display: inline-block;
        width: 100%;
    }
    li {
        display: inline-block;
        padding: 0px 16px 8px 16px;
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .glyphicon-info-sign {
        color: $link-color;
    }
    h3 {
        font-size: 16px;
    }
    span {
        font-size: 12px;
    }
}

.order-progress {
    list-style: none;
    padding: 0;
    text-align: center;
    display: table;
    width: 100%;
    hr {
        border: 1px solid #777;
        margin: 0 6px;
        position: relative;
        top: -10px;
    }
    li {
        width: 20%;
        font-size: 28px;
        display: table-cell;
        vertical-align: middle;
    }
    title {
        display: block;
        font-size: 10px;
    }
    .active {
        color: $theme-color;
        hr {
            border: 1px solid $theme-color;
        }
    }
    &.order-progress-small {
        li {
            padding: 0;
            font-size: 12px;
            border: 0;
        }
        hr {
            top: 0;
        }
    }
}

.progress, .progress-bar {
    height: 6px;
    border-radius: 0;
}
.progress-bar.active {
    background-color: $theme-color;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent);
    animation-direction: reverse !important;
}