// Variable define
@import "variable.scss";

.products-list {
    overflow: hidden;
    padding: 16px 0;
    .col-xs-12 {
        padding: 0 12px;
    }
}

.product {
    overflow: hidden;
    border-radius: 2px;
    box-shadow: $shadow;
    height: 108px;
    padding: 0;
    margin: 0 0 12px 0;
    background: #fff;
    display: table;
    width: 100%;
    .image {
        display: table-cell;
        overflow: hidden;
        max-width: 144px;
        width: 144px;
        img {
            width: auto;
            height: 108px;
        }
    }
    .title {
        display: table-cell;
        vertical-align: top;
        padding: 0;
        position: relative;
        h3 {
            margin: 0;
            padding: 8px 0 0 12px;
            color: #333;
            font-size: 16px;
        }
        .price {
            position: absolute;
            right: 8px;
            top: 8px;
            color: #080;
            font-size: 12px;
        }
        .desc {
            line-height: 24px;
            height: 37px;
            overflow: hidden;
            padding: 8px 8px 12px 12px;
            font-size: 12px;
        }
        .control {
            border-top: 1px solid #ddd;
            padding: 0 4px 0 8px;
            .number-input-group {
                float: right;
                display:table;
                width: 100%;
                &> div {
                    display: table-cell;
                    vertical-align: middle;
                }
                label {
                    display: table-cell;
                    vertical-align: middle;
                }
                button, input {
                    float: right;
                }
            }
        }
    }
}

.products-spinner {
    display: none;
    width: 100%;
    height: 80px;
    text-align: center;
    .spinner {
        position: inherit;
    }
}
