@import "variable.scss";

.review-card {
    background: #fff;
    padding: 12px;
    overflow: hidden;
    box-shadow: $shadow;
    height: 88px;
    display: table;
    width: 100%;
    .image {
        display: table-cell;
        width: 80px;
        height: 64px;
        overflow: hidden;
    }
    img {
        height: 64px;
        width: auto;
    }
    .title {
        margin: 0;
        font-size: 20px;
    }
    .control {
        display: table-cell;
        vertical-align: top;
        padding-left: 20px;
        .stars {

        }
        button {
            height: 40px;
            background: transparent;
            border: none;
            width: 28px;
            padding: 0;
            font-size: 20px;
            display: table;
            text-align: center;
            display: inline-block;
            i {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

.glyphicon-star-empty, .glyphicon-star {
    color: $accent-color-dark;
}