@import "variable";
.spinner-container {
    display: none;
    background-color: #fff;
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 35%;
    left: 50%;
    margin-left: -25px;
    box-shadow: 0 1px 5px #000;
    z-index: 999;
}
.spinner {
    background-image: image-url("spinner.gif");
    background-size: contain;
    z-index: 1000;
    height: 36px;
    width: 36px;
    display: block;
    margin: 7px;
}