// Variable define
@import "variable.scss";

// Centralize
.table-center-wrap {
    display: table;
    table-layout: fixed;
}
.table-center {
    display: table-cell !important;
    vertical-align: middle;
}

// Display by screen size
.large-screen, .middle-screen, .small-screen, .not-large-screen, .not-middle-screen, .not-small-screen {
    display: none;
}
@media (max-width: 768px) {
    .small-screen, .not-large-screen, .not-middle-screen {
        display: block;
    }
}
@media (min-width:768px) and (max-width: 1200px) {
    .middle-screen, .not-small-screen, .not-large-screen {
        display: block;
    }
}
@media (min-width: 1200px) {
    .large-screen, .not-small-screen, .not-middle-screen {
        display: block;
    }
}

.icon {
    border: 0;
    background-color: transparent;
    verticle-align: middle;
    color: #999;
}
.icon-danger {
    color: #c9302c;
}
.icon-link-right {
    i, span {
        margin-left:15px;
    }
}
.icon-link-left {
    i, span {
        margin-right: 15px;
    }
}

.inherit-height {
    height: inherit !important;
}

.banner {
    height: 120px;
    overflow: hidden;
    font-size: 16px;
    padding: 0 50px;
    background: repeating-linear-gradient(to bottom, $bg-color, #fff);
    h2 {
        color: #333;
        margin: 0;
        @media(max-width:768px) {
            font-size: 20px;
        }
    }
    @media(max-width:768px) {
        height: 80px;
        padding: 0 10px;
        .desc {
            font-size: 12px;
        }
    }
}


.vertical-btn-group {
    .btn {
        padding: 14px;
        margin: 10px 0;
        height: 54px;
        display: block;
        font-weight: bold;
    }
    .btn-primary {
        color: #eee;
    }
    .btn-default {
        color: #777;
    }
}

.white-card {
    background:#fff;
    padding:20px;
    margin: 20px 0 !important;
    @media(max-width: 768px) {
        padding: 5px;
    }
}

.card {
    padding: 8px;
    height: 200px;
    overflow: hidden;
    a {
        background: #fff;
        text-align: center;
        display: block;
        height: 100%;
        padding: 8px;
    }
    img {
        width: auto;
        height: 96px;
    }
    .image {
        overflow:hidden;
        height: 96px;
    }
    h3 {
        overflow: hidden;
        color: #333;
        margin: 10px 0 0 0;
        font-size: 14px;
        height: 28px;
        overflow: hidden;
    }
    p {
        margin: 0;
        font-size: 12px;
    }
    .price, .origin {
        &:before {
            content: "¥";
            padding: 0 5px 0 0;
        }
        font-weight: bold;
    }
    .desc {
        font-size: 14px;
    }
    .origin {
        text-decoration: line-through;
        padding-right: 8px;
    }
    .price {
        color: $theme-color;
    }
    @media (max-width:800px) {
    }
}

.btn {
    height: auto;
    border-radius: 2px;
}

.btn-primary {
    background-color: $theme-color;
    border: 1px solid #ddd;
}

.desc {
    color: #999;
    font-size: 16px;
    font-weight: normal;
}

.highlight-link {
    color: $link-color;
}

.main {
    background-color: #eee;
    padding: 50px;
    overflow: hidden;
    @media (max-width:768px) {
        padding: 0 10px;
    }
    section {
        overflow: hidden;
        margin-bottom: 0;
    }
}

.circle {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: #ccc;
    border-radius: 20px;
    font-size: 14px;
    color: #555;
}

.number-align {
    text-align: right;
}

.highlight {
    background: $theme-color;
    color: #fff;
}
.highlight-icon {
    color: $theme-color;
}
.entry {
    margin: 10px;
    padding: 10px;
    background: #eee;
}

.no-list-style {
    list-style: none;
    margin: 0;
    padding: 0;
}

.table-clickable {
    tr {
        cursor: pointer;
    }
}

.animate-hide {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
    left: 0;
    position: absolute;
}

.animate-hide-right.ng-hide {
  left: 100%;
}

.animate-hide-left.ng-hide {
  left: -100%;
}

.disable-scroll {
    overflow: hidden;
}