$bg-color: #f8f8f8;

$shadow: 0px 4px 8px #bbb;

$theme-color: #989e4b;
$theme-color-dark: #818e3b;
$theme-color-light:   #c8ce8b;

$btn-primary-bg: #818e3b;

$font-color: #777;

$link-color: #375EAB;
$link-color-hover: #4285f4;

$accent-color: #81C784;
$accent-color-light: #B9F6CA;
$accent-color-dark: #00C853;
