$bg-color: #f8f8f8;

$shadow: 2px 2px 4px #ccc;

$theme-color: #4CAF50;
$theme-color-dark: #388E3C;
$theme-color-light:   #C8E6C9;

$font-color: #777;

$link-color: #375EAB;
$link-color-hover: #4285f4;

$accent-color: #FFFF00;
$accent-color-light: #FFFF8D;
$accent-color-dark: #FFEA00;
