$bg-color: #eeeef0;

$shadow: 0px 4px 8px #bbb;

$brand-color: #e57f11;
$btn-primary-bg: #dc6e43;

$theme-color: #e57f11;
$theme-color-dark: #dc6e43;
$theme-color-light:   #c8ce8b;

$font-color: #777;

$link-color: #375EAB;
$link-color-hover: #4285f4;

$accent-color: #FFF;
$accent-color-light: #FFFF8D;
$accent-color-dark: #FFEA00;
