<div class="container" style="margin-bottom: 80px;">
  <div class="row info">
    <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
      <div style="overflow:hidden;">
        <%= image_tag "about-head.png", style: "width:100%;max-width: 450px;", class: "pull-right" %>
      </div>
      <h1 style="font-size:48px;color:#00908a;">公司简介</h1>
      <p style="color:#e22400;font-size:18px;line-height:25px;">北京拾惠社农业科技有限公司——“我们专注于绿色、生态、健康，用科技带来农业的新形象，绿色生活人人做主”</p>
      <div class="row col-xs-0 col-sm-3 col-md-3 col-lg-3">
        <p style="color:#777;">崭新的公司，一流的团队，雄厚的资源实力，可以改变你我每个人的生活方式</p>
        <%= image_tag "about-tree.png", style: "width:100%" %>
      </div>
      <div class="col-xs-12 col-sm-9">
        <p>成立背景：来自各行各业、各个领域，有才华、有特点，热爱生活、扎根农业、资源广泛的一群8090后，构想打造一个绿色健康有机食品和中小企业互联网软件服务于一体的新型农业互联网运营科技公司——北京拾惠社农业科技有限公司</p>
        <h2>业务领域及特点</h2>
        <p>我们拥有北京广泛的人脉资源和渠道，可以帮助生态产品进入北京市场，打开销路；</p>
        <p>在互联网高速发展、信息化社会下，我们创新农业科技，依托中国农业大学，开展农业科研、农业技术、农业信息化服务；</p>
        <p>我们的合伙人大部分都是留学归来，熟悉海外市场，具有广泛的关系，进出口贸易是主营业务之一，尤其可为产品打开欧美市场的销路，同样易可将海外商品引入国内；</p>
        <p>我们的技术团队来自于IBM、华为、诺基亚西门子、淘宝等国内外一流企业，具备丰富的互联网和企业信息化定制实战经验、丰富的行业背景积累；</p>
        <p>由“拾惠社”所经营的农产品，保证是绿色、健康、无污染的生态产品，且可追溯、可溯源，引导消费者了解与选择绿色健康生活；</p>
        <p>我们的特长：依托互联网进行O2O的全新互联网+农业生态有机食品商业模式创新。寻找新农业发展方向，通过结合最新互联网技术和一流的软件研发团队。帮助传统农业转型，扩展线上销售渠道，创造新型农业商业模式。</p>
        <h2>我们的客户与合作伙伴</h2>
        <p>用传统、健康的方式制作食品的作坊和企业，不添加任何的化学食品添加剂；用有机原料或者环保材料制作的日用品和百货；使用和推广本地或有机食材的餐厅、咖啡馆；推广健康、环保生活理念的社会团体、NGO；食品和农业领域的社会团体、NGO。</p>
        <p>具有合作精神，愿意与消费者共同解决问题，愿意倾听消费者（线上需求）的声音；具有生态理念和品质追求，生态绿色环保价值观相同。</p>
        <p>信息公开透明，愿意和贸易商、消费者沟通其基础信息（包括原料与来源可靠、加工过程合理、使用安全等信息），帮助贸易商和消费者获取信息，保护消费者权益，愿意随时接待参访，让消费者享有知情权。</p>
        <p  style="font-size:22px;color:#00908a;">欢迎合作，我们共同的绿色事业！</p>
      </div>
    </div>
  </div>
</div>
