<h1 class="page-header">预览</h1>
<%= alert_info %>
<div class="control-panel">
  <%= link_to "/admin/shops/edit", class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> 编辑
  <% end %>
</div>

<div class="preview" style="width: 400px;">
  <iframe src="/shop/<%=@shop.id%>" />
</div>
