<h1 class="page-header">预览</h1>
<%= alert_info %>
<div class="control-panel">
  <%= link_to "编辑", edit_admin_article_path(@article), class: "btn btn-primary"%>
  <%= link_to "返回", admin_articles_path, class: "btn btn-default" %>
</div>
<div class="preview">
  <iframe src="/articles/<%=@article.id%>" />
</div>
