<div class="banner row">
  <h2 class="pull-left inherit-height table-center-wrap"><span class="table-center">地址管理</span></h2>
  <a class="btn btn-lg pull-right highlight-link icon-link-left inherit-height table-center-wrap" ng-href="/me">
    <span class="table-center"><i class="glyphicon glyphicon-arrow-left"></i>返回个人中心</span>
  </a>
</div>
<div class="main row">
  <h3 class="col-md-2 col-sm-2 col-xs-12 icon-link-left form-group-title">配送地址</h3>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="confirm-content">
      <div class="create-address">
        <a class="btn btn-default block" data-toggle="modal" data-target="#address_modal">新建地址</a>
      </div>

    <div id="addresses">
      <% @addresses.each do |address| %>
      <%= render partial: "item", object: address %>
      <% end %>
    </div>
    </div>
  </div>
  <%= render partial: "modal" %>
</div>
