<div class="form-group">
  <label class="col-sm-2 control-label">下订单时间</label>
  <div class="col-sm-9">
    <p class="form-control-static"><%= display_datetime @order.created_at %></p>
  </div>
</div>
