<div class="form-group">
  <label class="col-sm-2 control-label">留言</label>
  <div class="col-sm-9">
    <p class="form-control-static"><%=@order.memo%></p>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">备注</label>
  <div class="col-sm-9">
    <p class="form-control-static"><%=@order.payment_memo%></p>
  </div>
</div>
