<!-- Recommend section -->
<% @recommendProducts.each do |product| %>
<section class="recommand row">
  <%= link_to products_detail_url(id: product.id) do %>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2><%= product.name %></h2>
      <p class="desc"><%= product.description%></p>
      <button class="btn btn-lg">立即购买<i class="glyphicon glyphicon glyphicon-circle-arrow-right"></i></button>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <% image_tag product.cover_image%>
    </div>
  <% end %>
</section>
<% end %>
<div>
  <h2 style="padding-left:5px;">所有产品</h2>
  <section class="card col-md-3 col-sm-4 col-xs-6">
    <a href="">
      <img src="">
      <h3>电脑</h3>
    </a>
  </section>

  <section class="card col-md-3 col-sm-4 col-xs-6">
    <a href="">
      <img src="">
      <h3>智能穿戴设备</h3>
    </a>
  </section>

  <section class="card col-md-3 col-sm-4 col-xs-6">
    <a href="">
      <img src="">
      <h3>Model X</h3>
    </a>
  </section>

  <section class="card col-md-3 col-sm-4 col-xs-6">
    <a href="">
      <img src="">
      <h3>Model X</h3>
    </a>
  </section>

</div>
