<div>
  <% if @channels.any? %>
  <div class="row home-nav" style="background:#fff;">
    <% @channels.each do |c| %>
    <section class="col-sm-6 col-md-6 col-xs-12 col-lg-4">
      <a href="<%=c.url%>" style="" class="channel-card">
        <%= image_tag c.image, alt: c.name%>
        <h3><%=c.name%> <i class="glyphicon glyphicon-circle-arrow-right"></i></h3>
      </a>
    </section>
    <% end %>
  </div>
  <% end %>
</div>
