<!-- Recommend section -->
<% @recommendProducts.each do |product| %>
<section class="recommand row">
  <a ng-href="/products/<%=product.id%>">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2><%= product.name %></h2>
      <p class="desc"><%= product.description%></p>
      <button class="btn btn-lg">立即购买<i class="glyphicon glyphicon glyphicon-circle-arrow-right"></i></button>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <%= image_tag product.cover_image %>
    </div>
  </a>
</section>
<% end %>
<div ng-controller="HomeCtrl">
  <h2 style="padding-left:5px;">所有产品</h2>

  <div class="products-list">
    <section class="card col-md-3 col-sm-4 col-xs-6" ng-repeat="product in products">
      <a ng-href="/products/{{product.id}}" target="_self">
        <img src="{{product.cover_image}}">
        <h3>{{product.name}}</h3>
      </a>
    </section>
  </div>

  <svg class="spinner ng-cloak" ng-show="loading" ng-cloak width="65px" height="65px" viewBox="0 0 66 66" >
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
  
  <div infinite-scroll="loadProducts()" infinite-scroll-distance="1">
  </div>

</div>
