<section>
  <h3 class="col-md-2 col-sm-3 col-xs-12 icon-link-left"><span class="circle highlight"><%=index%></span>留言</h3>
  <div class="col-md-8 col-sm-7 col-xs-12 main-body">
    <div class="confirm-content">
      <textarea id="memo" class="form-control" name="memo"></textarea>
    </div>
  </div>
</section>
