<section>
  <h3 class="col-md-2 col-sm-3 col-xs-12 icon-link-left"><span class="circle highlight"><%=index%></span>桌台号</h3>
  <div class="col-md-8 col-sm-7 col-xs-12 main-body">
    <div class="confirm-content">
      <input type="number" step = 1 min="1" name="dinning_table_id" required class="form-control" id="tableNo" value="<%=session[:dinning_table_id]%>">
    </div>
  </div>
</section>
