@import "variables";
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
  border: 0;
  background: $theme-color;
  box-shadow: 2px 2px 4px #ccc;
}

a.navbar-brand {
    color: #fff !important;
}