// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.number-align {
    text-align: right;
}

address {
    .name {
        font-weight: bold;
    }
    .header {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }
}

.tab-content {
    padding: 12px;
    border: 1px solid #ddd;
    border-top: 0;
}