@import "variables";
// Centralize
.table-center-wrap {
    display: table !important;
    table-layout: fixed;
}
.table-center {
    display: table-cell !important;
    vertical-align: middle;
}

// Display by screen size
.large-screen, .middle-screen, .small-screen, .not-large-screen, .not-middle-screen, .not-small-screen {
    display: none;
}
@media (max-width: 768px) {
    .small-screen, .not-large-screen, .not-middle-screen {
        display: block;
    }
}
@media (min-width:768px) and (max-width: 1200px) {
    .middle-screen, .not-small-screen, .not-large-screen {
        display: block;
    }
}
@media (min-width: 1200px) {
    .large-screen, .not-small-screen, .not-middle-screen {
        display: block;
    }
}
.inherit-height {
    height: inherit !important;
}
.number {
    text-align: right;
}
.no-list-style {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    color: $brand-primary;
    padding: 5px;
}

.filter-link.highlight {
    color: $theme-color;
    border-bottom: 1px solid $theme-color;
    &:hover {
        border-bottom: 1px solid $theme-color;
    }
}

.filter-link {
    text-decoration: none;
    margin: 10px;
    line-height: 30px;
    &:hover {
        border-bottom: 1px solid $brand-primary;
        text-decoration: none;
    }
}