@import "bootstrap/variables";

$theme-color: #989e4b;
$theme-color-dark: #818e3b;
$theme-color-light:   #c8ce8b;

$font-color: #777;

$link-color: #375EAB;
$link-color-hover: #4285f4;

$accent-color: #FFFF00;
$accent-color-light: #FFFF8D;
$accent-color-dark: #FFEA00;
