<div class="banner row">
  <h2 class="pull-left inherit-height table-center-wrap"><span class="table-center">购物车</span></h2>
  <a class="btn btn-lg pull-right highlight-link icon-link-right inherit-height table-center-wrap" ng-href="#/order">
    <span class="table-center">订单<i class="glyphicon glyphicon-arrow-right"></i></span>
  </a>
</div>
<div class="row">
  <div class="main ng-cloak empty-cart table-center-wrap" ng-show="false"  ng-cloak>
    <i class="glyphicon glyphicon-shopping-cart table-center bg-img"></i>
    <div class="table-center-wrap empty-cart-desc inherit-height">
      <div class="table-center">
        <p>购物车里没有商品</p>
        <a class="btn btn-lg icon-link-right highlight-link">
          <span>立即前往采购<i class="glyphicon glyphicon-arrow-right"></i></span>
        </a>
      </div>
    </div>
  </div>
  <div class="main ng-cloak" ng-show="true" ng-cloak>
    <div>
      <div class="col-sm-2 col-md-3 not-small-screen">
        <h3 style="margin-top:30px;">您选购的商品</h3>
      </div>
      <div class="col-sm-10 col-md-9 col-xs-12">
        <div class="cart row">
          <div class="col-md-3 col-sm-3 col-xs-3 talbe-center-wrap inherit-height">
            <a ng-href="#/detail" class="table-center inherit-height cart-image">
              <img src="http://ntu.so/di/R1BXG/iMac.png">
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 order-item-name">
            <a ng-href="#/detail">
              <div>Apple ME086CH/A iMac</div>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="list-item" style="overflow:hidden;">
              <div class="price ">¥75,170</div>
              <select class="list-item" style="float:right;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="list-item">
              <a ng-click="" class="btn icon icon-danger"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
          </div>
        </div>

        <div class="cart row">
          <div class="col-md-3 col-sm-3 col-xs-3 talbe-center-wrap inherit-height">
            <a href="" class="table-center inherit-height cart-image">
              <img src="http://ntu.so/di/DB742/honor.png">
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 order-item-name">
            <a href="">
              <div>荣耀智能手环</div>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="list-item" style="overflow:hidden;">
              <div class="price ">¥1,170</div>
              <select class="list-item" style="float:right;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="list-item">
              <a ng-click="" class="btn icon icon-danger"><i class="glyphicon glyphicon-trash"></i></a>
            </div>
          </div>
        </div>

        <div class="subtotal">
          <label class="pull-left label">合计</label>
          <div class="pull-right price">¥75,170</div>
        </div>

        <div class="vertical-btn-group">
          <a class="btn btn-lg btn-default" ng-href="#/home">继续购物</a>
          <a class="btn btn-lg btn-primary" ng-href="#/purchase">确认订单</a>
        </div>

      </div>

    </div>
  </div>
