// Variable define
@import "variable.scss";

section.recommand {
    background: repeating-linear-gradient(to bottom, $bg-color, #fff);
    padding: 40px 80px;
    @media(max-width:800px) {
        padding: 0;
        padding-bottom: 40px;
    }
    button {
        color: #444;:
        font-size: 16px;
        background-color: transparent;
        padding: 0;
        i {
            padding-left: 10px;
        }
    }
}
