// Variable define
@import "variable.scss";

.confirm-content {
    overflow: hidden;
    padding: 10px;
    background: #fff;
}

.form-group-title {
    @media(min-width:768px) {
        margin-top: 0;
    }
}

.address {
    .name {
        font-weight: bold;
    }
    .header {
        overflow: hidden;
        border-bottom: 1px solid #aaa;
    }
}
.address.highlight {
    .header {
        border-bottom: 1px solid #555;
    }
}

.create-address {
    margin: 10px;
    .btn {
        font-weight: bold;
        width: 100%;
        color: $link-color;
    }
}

.payment-type {
    height: 50px;
    img {
        max-height: 50px;
    }
}

.selected {
    background: #fff !important;
    border: 2px solid $theme-color;
}