<div class="banner row">
  <h2 class="pull-left inherit-height table-center-wrap"><span class="table-center">地址管理</span></h2>
  <a class="btn btn-lg pull-right highlight-link icon-link-left inherit-height table-center-wrap" href="/me">
    <span class="table-center"><i class="glyphicon glyphicon-arrow-left"></i>返回个人中心</span>
  </a>
</div>
<div class="main row">
  <section>
    <div>
      <h3 class="col-md-2 col-sm-2 col-xs-12 icon-link-left form-group-title">配送地址</h3>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12 main-body">
      <div class="confirm-content">
        <div class="create-address">
          <button class="btn btn-default block" onclick="address.create()">新建地址</button>
        </div>

        <% if @addresses.empty? %>
        <div class="empty-cart table-center-wrap">
          <i class="glyphicon glyphicon-map-marker table-center bg-img"></i>
          <div class="table-center-wrap empty-cart-desc inherit-height">
            <div class="table-center">
              <p>没有您的配送地址信息</p>
            </div>
          </div>
        </div>
        <% end %>

        <div id="addresses">
          <% @addresses.each do |address| %>
            <%= render partial: "item", object: address %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <%= render partial: "modal" %>
</div>
