<h1 class="page-header">预览</h1>
<div class="control-panel">
  <%= link_to "编辑", edit_admin_product_path(@product), class: "btn btn-primary"%>
  <%= link_to admin_back_url(admin_products_path), class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-arrow-left"></span> 返回
  <% end %>
</div>
<div class="preview">
  <iframe src="/products/<%=@product.id%>" />
</div>
