<h1 class="page-header">商品详情</h1>
<div class="control-panel">
  <%= link_to edit_admin_product_path(@product), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-pencil"></span> 编辑
  <% end %>
  <%= link_to admin_back_url(admin_products_path), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> 返回
  <% end %>
</div>

<% if @product.is_crowdfunding %>
<%= render "wholesale_product" %>
<% else %>
<%= render "retail_product" %>
<% end %>
