<h1 class="page-header">机构信息</h1>
<div class="control-panel">
  <%= link_to "编辑", edit_admin_group_path(@group), class: "btn btn-primary"%>
  <%= link_to "返回", admin_groups_path, class: "btn btn-default" %>
</div>
<div class="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">名字</label>
    <div class="col-sm-10">
      <p><%= @group.name %></p>
    </div>
  </div>
</div>
