<p>您好， <%= @resource.email %>!</p>

<p>这是来自WebStore的修改密码邮件。您收到这封邮件是因为有人使用了找回密码功能，如果是您本人进行的操作，请点击以下链接修改您的密码。</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您并未使用找回密码功能，请忽略这封邮件。</p>
<p>在您完成修改密码操作之前，您的密码都不会被更改。</p>
<p>这是一封系统发出的邮件，请勿回复。</p>
