<div class="products-list row">
</div>

<div class="products-spinner">
  <div class="spinner"></div>
</div>

<div id="infinit_scroll_indicator">
</div>

<div class="fab">
  <i class="glyphicon glyphicon-shopping-cart"></i>
</div>

<script type="text/template" id="product_template">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="product">
    <div class="image">
      <img src="{{cover_image}}">
    </div>
    <div class="title">
      <h3>{{name}}</h3>
      <span class="price">&yen; {{price}}</span>
      <div class="desc-viewport">
        <div class="desc">{{description}}</div>
      </div>
      <div class="control">
        <div class="number-input-group">
          <button onclick="carts.remove('{{id}}', '{{spec_id}}')"><i class="glyphicon glyphicon-minus"></i></button>
          <input type="number" id="count_{{id}}_{{spec_id}}" value="{{count}}" onchange: "carts.updateCount(this, '{{id}}', '{{spec_id}}')" min=1>
          <button onclick="carts.add('{{id}}', '{{spec_id}}')"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
      </div>
      </div>
    </div>
  </div>
</script>
