<div class="products-list row">
</div>

<div class="products-spinner">
  <div class="spinner"></div>
</div>

<div id="infinit_scroll_indicator">
</div>

<a class="fab" href="/carts">
  <% if @cart_count > 0 %>
  <label id="cart_count"><%=@cart_count%></label>
  <i id="cart_icon" class="glyphicon glyphicon-shopping-cart" style="display:none;"></i>
  <% else %>
  <label id="cart_count" style="display:none;"><%=@cart_count%></label>
  <i id="cart_icon" class="glyphicon glyphicon-shopping-cart"></i>
  <% end %>
  <input type="hidden" id="total_count" value="<%=@cart_count%>"></input>
</a>

<script type="text/template" id="product_template">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="product">
    <div class="image">
      <img src="{{product.cover_image}}">
    </div>
    <div class="title">
      <h3>{{product.name}}</h3>
      <span class="price">&yen; {{product.price}}</span>
      <div class="desc-viewport">
        <div class="desc">{{product.description}}</div>
      </div>
      <div class="control">
      </div>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="product_spec_control_template">
  {{#specifications}}
  <div class="number-input-group">
    <div>
      <label>{{spec.value}}：</label>
    </div>
    <div>
      <button id="btn_{{product.id}}_{{spec.id}}"
              {{^count}}
              style="visibility: hidden"
              {{/count}}
              onclick="carts.remove('{{product.id}}', '{{spec.id}}', 0)"><i class="glyphicon glyphicon-minus"></i></button>
    </div>
    <div>
      <input type="number" id="count_{{product.id}}_{{spec.id}}" value="{{count}}"
             {{^count}}
             style="visibility: hidden"
             {{/count}}
             onchange="carts.updateCount(this, '{{product.id}}', '{{spec.id}}', 0)" min=1>
    </div>
    <div>
      <button onclick="carts.add('{{product.id}}', '{{spec.id}}', 0)"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
  </div>
  {{/specifications}}
</script>
<script type="text/template" id="product_control_template">
  <div class="number-input-group">
    <div>
      <label></label>
    </div>
    <div>
      <button id="btn_{{product.id}}_"
              {{^count}}
              style="visibility: hidden"
              {{/count}}
              onclick="carts.remove('{{product.id}}', '', 0)"><i class="glyphicon glyphicon-minus"></i></button>
    </div>
    <div>
      <input type="number" id="count_{{product.id}}_" value="{{count}}"
             {{^count}}
             style="visibility: hidden"
             {{/count}}
             onchange="carts.updateCount(this, '{{product.id}}', '', 0)" min=1>
    </div>
    <div>
      <button onclick="carts.add('{{product.id}}', '', 0)"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
  </div>
</script>
