<div class="search-result">
  <div class="products-list">
    <% @products.each do |product| %>
      <section class="card col-md-3 col-sm-4 col-xs-6">
        <a href="/products/<%=product.id%>">
          <div class="image">
            <%= image_tag product.cover_image %>
          </div>
          <h3><%=product.name%></h3>
        </a>
      </section>
    <% end %>
  </div>
  <% if @products.empty? %>
    <div class="search-result-not-found">
      没有找到与"<%=@search_text%>"相关的商品
    </div>
  <% end %>
</div>
