<h2 style="padding-left:5px;">  “<%=@search_text%>”相关的商品</h2>
<div class="search-result">
  <div class="products-list">
    <% @products.each do |product| %>
    <%= render product %>
    <% end %>
  </div>
  <% if @products.empty? %>
    <div class="search-result-not-found">
      没有找到与"<%=@search_text%>"相关的商品
    </div>
  <% end %>

  <a href="/carts" class="floating-action-btn">
    <i class="glyphicon glyphicon-shopping-cart"></i>
  </a>

</div>
