<nav id="menu" class="navbar-side">
  <header>
    <div  class="inherit-height pull-left">
      <p class="inherit-height"><span class="table-center inherit-height" style="color: #fff;padding-left: 16px;"><%=Rails.application.config.name%></span></p>
    </div>

    <button type="button" class="icon btn btn-lg pull-right inherit-height" onclick="menu.close();">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </header>

  <section class="nav-section">
    <ul class="nav">
      <li><a href="/orders" class="icon-link-left"><i class="glyphicon glyphicon-list-alt"></i>订单</a></li>
      <li><a href="/carts" class="icon-link-left"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
      <li><a href="/help" class="icon-link-left"><i class="glyphicon glyphicon-question-sign"></i>帮助</a></li>
    </ul>
  </section>
</nav>
