<header id="applicationHeader">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header" style="height:56px">
      <section class="inherit-height pull-left">
        <% if @back_url.present? %>
        <a class="btn btn-lg pull-left icon table-center inherit-height" href="<%=@back_url%>">
          <i class="glyphicon glyphicon-arrow-left" style="position:relative;top:7px;"></i>
        </a>
        <% else %>
        <button class="btn pull-left icon table-center inherit-height" onclick="menu.open();">
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </button>
        <% end %>
      </section>

      <section class="navbar-brand pull-left inherit-height">
        <% if add_dishes? %>
        <a href="#">加菜</a>
        <% else %>
        <a href="#"><%=@title || Rails.application.config.name%></a>
        <% end %>
      </section>

      <section class="inherit-height search-container" id="search">
        <form class="inherit-height table-center-wrap" action="/products/search">
          <button class="btn icon inherit-height highlight-icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          <button class="btn icon inherit-height" style="right:0" onclick="return search.close();"><i class="glyphicon glyphicon-remove"></i></button>
          <input  type="search" name="search_text" class="search table-center inherit-height pull-left" placeholder="搜索菜品" id="search_input">
        </form>
      </section>

      <section class="pull-right inherit-height table-center-wrap" id="menu_control_pannel">
        <% if params[:controller].eql? "products" %>
        <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="search.open();">
          <i class="glyphicon glyphicon-search"></i>
        </button>
        <% end %>

        <% if add_dishes? %>
        <button type="button" class="btn btn-lg btn-warning table-center inherit-height" onclick="window.location.href='orders/cancel_add_dishes'" style="outline:none;border:0;">
          取消
        </button>
        <% elsif params[:controller].eql? "products" %>
        <% else %>
        <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/me'" style="outline:none;">
          <i class="glyphicon glyphicon-user"></i>
        </button>
        <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/'" style="outline:none;">
          <i class="glyphicon glyphicon-home"></i>
        </button>
        <% end %>
      </section>
    </div>

    <% if @submenu.present? %>
      <div class="nav-bottom">
        <div class="left scroll-indicator" onclick="nav.scrollLeft()"><i class="glyphicon glyphicon-menu-left"></i></div>
        <div class="scroll-container" onscroll="nav.setScrollIndicator()">
          <ul>
            <% @submenu.each do |link| %>
            <li class="<%=link[:class]%>"><h2><%= link_to link[:name].html_safe, link[:href] %></h2></li>
            <% end %>
          </ul>
        </div>
        <div class="right scroll-indicator" onclick="nav.scrollRight()"><i class="glyphicon glyphicon-menu-right"></i></div>
      </div>
  </div>
  <% end %>
</header>
