<footer>
  <div class="container">
    <p class="copyright">Copyright © 2015 北京拾惠社农业科技有限公司</p>
    <ul>
      <li><span class="glyphicon glyphicon-map-marker"></span><%= Rails.application.config.location%></li>
      <li>京ICP备15036211号</li>
    </ul>
  </div>
</footer>
