<header id="applicationHeader">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header" style="height:56px">
      <section class="inherit-height pull-left">
        <% if @back_url.present? %>
        <a class="btn btn-lg pull-left icon table-center inherit-height" href="<%=@back_url%>">
          <i class="glyphicon glyphicon-arrow-left" style="position:relative;top:7px;"></i>
        </a>
        <% else %>
        <button class="btn pull-left icon table-center inherit-height" onclick="menu.open();">
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </button>
        <% end %>
      </section>

      <section class="navbar-brand pull-left inherit-height">
        <a href="#"><%=@title || Rails.application.config.name%></a>
      </section>

      <section class="pull-right inherit-height table-center-wrap" id="menu_control_pannel">
        <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/me'" style="outline:none;">
          <i class="glyphicon glyphicon-user"></i>
        </button>
        <button type="button" class="icon btn btn-lg table-center inherit-height" onclick="window.location.href='/'" style="outline:none;">
          <i class="glyphicon glyphicon-home"></i>
        </button>
      </section>
    </div>

    <% if @submenu.present? %>
    <div class="navbar-submenu navbar-submenu-slide container">
      <ul class="no-list-style row">
        <% @submenu.each do |link| %>
          <li><%= link_to link[:name], link[:href], class: link[:class] %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</header>
