<footer>
  <div class="container">
    <p class="copyright">Copyright © 2015 建新园</p>
    <ul>
      <li><span class="glyphicon glyphicon-map-marker"></span> 昆明市五华区宝善街195号</li>
      <li>京ICP备15036211号</li>
    </ul>
  </div>
</footer>
