    <nav id="menu" class="navbar-side">
      <header>
        <% if user_signed_in? %>
        <a  class="inherit-height pull-left" href="/me">
          <%= image_tag "user.png" %>
          <p class="inherit-height nav-header-link-text"><span class="table-center inherit-height"><%= current_user.tel %></span></p>
        </a>
        <% else %>
        <a href="/users/sign_in" target="_self" class="inherit-height pull-left">
          <%= image_tag "user.png" %>
          <p class="inherit-height nav-header-link-text"><span class="table-center inherit-height">登录</span></p>
        </a>
        <% end %>
        <button type="button" class="icon btn btn-lg pull-right inherit-height" onclick="menu.close();">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </header>

      <section class="nav-section">
        <ul class="nav">
          <% if user_signed_in? %>
          <li><a href="/me" class="icon-link-left"><i class="glyphicon glyphicon-home"></i>我的<%=Rails.application.config.name%></a></li>
          <% end %>
          <li><a href="/orders" class="icon-link-left"><i class="glyphicon glyphicon-list-alt"></i>订单</a></li>
          <li><a href="/carts" class="icon-link-left"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a></li>
        </ul>
      </section>
    </nav>
