<nav class="navbar navbar-inverse navbar-fixed-top" style="box-shadow: 2px 2px 4px #ccc;border-top-left-radius: 0;border-top-right-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">拾惠社</a>
    </div>
    <% if current_namespace.eql? "Admin" %>
      <div class="pull-right">
        <%= form_tag destroy_user_session_url, method: :delete do %>
          <%= submit_tag "退出登录", class: "sign-out-btn"%>
        <% end %>
      </div>
    <% end %>

  </div>
</nav>
